html, body {
    background: #222;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#video {
    width: 100vw;
    height: 50vh;

    background-image: url("http://vision-rpi.local:5800");
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Sliders */

#sliders {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    flex-direction: column;
    height: 50vh;
    padding: 0;
    margin: 0;
}

.double-slider-wrapper, .single-slider-wrapper {
    width: 50vw;
    height: 5vh;
    padding: 0.5vh;
    margin: 0;

    display: grid;
    grid-template-rows: 100%;
}

.double-slider-wrapper {
    grid-template-columns: 8vw 7vw calc(100% - 24vw) 7vw;
}

.single-slider-wrapper {
    grid-template-columns: 8vw 7vw calc(100% - 17vw);
}

.slider-label {
    display: inline-block;
    color: #fff;
    background-color: inherit;
    font-family: sans-serif;
    line-height: 4vh;
    padding: 0 1vw;
}

.value-display {
    display: inline-block;
    color: #fff;
    text-align: center;
    background-color: inherit;
    font-family: sans-serif;
    line-height: 4vh;
    font-size: 1.5em;
    width: 50vw;
    height: 5vh;
    padding: 0.5vh;
    margin: 0;
}

.drop-down {
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.5em;
    color: #fff;
    height: 5vh;
    padding: 0.5vh;
    margin: 0;
    width: 50vw;
}

.drop-down-label {
    display: inline-block;
    padding: 0 1vw;
}

.drop-down .selection-wrapper {
    display: inline-block;
    background: #444;
    border-radius: 0.25em;
    padding: 0.1em;
    margin: 0.25em;
}

.drop-down select {
    display: inline;
    font-size: 0.75em;
    color: #fff;
    background: #444;
    border: none;
    padding: 0 0.25em 0 0;
    appearance: none;
    -moz-appearance: none;
    min-width: 25vw;
}

.drop-down option {
    background: #444;
    border-radius: 0.25em;
}

.slider {
    display: inline-block;
    margin: auto 1vw auto 1vw;
}

.slider-input {
    display: inline-block;
    background-color: #111;
    border: #000 solid 1px;
    border-radius: 5px;
    padding: 0 0.5vw 0 0.5vw;
    margin: 0 1vw 0 1vw;
    color: #fff;
}

.noUi-handle {
    background-color: #444;
    width: 20px !important;
    height: 20px !important;
    right: -10px !important;
    border: green solid 6px;
    border-radius: 50%;
    box-shadow: none;
    transition: border 100ms;
}

.noUi-handle:active {
    border: green solid 4px;
}

.noUi-handle::before, .noUi-handle::after {
    display: none;
}

.noUi-target {
    border: none;
    box-shadow: none;
    background-color: #343;
    height: 10px !important;
}

.noUi-base {
    background-color: #444;
    border-radius: 5px;
}

.noUi-connect {
    background-color: #353;
    border: none;
}